# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
.env.*

# Django
*.sqlite3
/staticfiles/
media/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Terraform (later)
.terraform/
*.tfstate
*.tfstate.*
